.btn {
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: orange;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 700;
  position: relative;
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn::before {
  content: " ";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: white;
  transition: width 0.5s, height 0.5s;
}
.btn:hover::before {
  width: 1000px;
  height: 1000px;
}